{
  "initialCbsdRequestsWithDomainProxies": [
    {
      "registrationRequests": [],
      "grantRequests": [],
      "conditionalRegistrationData": []
    },
    {
      "registrationRequests": [],
      "grantRequests": [],
      "conditionalRegistrationData": []
    }
  ],
  "initialCbsdRecords": [],
  "iterationData": [
    {
      "cbsdRequestsWithDomainProxies": [
        {
          "registrationRequests": [
            {
              "fccId": "test_fcc_id_a",
              "userId": "test_user_id_a",
              "cbsdSerialNumber": "test_serial_number_a",
              "callSign": "callsign_a",
              "cbsdCategory": "A",
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "latitude": 38.8203,
                "longitude": -97.2741,
                "height": 9.3,
                "heightType": "AGL",
                "indoorDeployment": true,
                "antennaGain": 16,
                "antennaBeamwidth": 30,
                "antennaAzimuth": 90
              },
              "measCapability": []
            },
            {
              "fccId": "test_fcc_id_b",
              "userId": "test_user_id_b",
              "cbsdSerialNumber": "test_serial_number_b",
              "callSign": "callsign_b"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3550000000,
                  "highFrequency": 3560000000
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3570000000,
                  "highFrequency": 3580000000
                }
              }
            }
          ],
          "conditionalRegistrationData": [
            {
              "cbsdCategory": "B",
              "fccId": "test_fcc_id_b",
              "cbsdSerialNumber": "test_serial_number_b",
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "latitude": 39.31476,
                "longitude": -96.75139,
                "height": 7.6,
                "heightType": "AGL",
                "indoorDeployment": false,
                "antennaGain": 16,
                "antennaBeamwidth": 30,
                "antennaAzimuth": 270,
                "antennaDowntilt": -90
              },
              "measCapability": []
            }
          ]
        },
        {
          "registrationRequests": [
            {
              "fccId": "test_fcc_id_c",
              "userId": "test_user_id_c",
              "cbsdSerialNumber": "test_serial_number_c",
              "callSign": "callsign_c",
              "cbsdCategory": "A",
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "latitude": 38.77807969429108,
                "longitude": -97.27687996656763,
                "height": 4.5,
                "heightType": "AMSL",
                "indoorDeployment": false,
                "antennaGain": -127,
                "antennaBeamwidth": 0,
                "antennaAzimuth": 270
              },
              "measCapability": []
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3590000000,
                  "highFrequency": 3600000000
                }
              }
            }
          ],
          "conditionalRegistrationData": []
        }
      ],
      "cbsdRecords": [
        {
          "registrationRequest": {
            "fccId": "test_fcc_id_d",
            "userId": "test_user_id_d",
            "cbsdSerialNumber": "test_serial_number_d",
            "callSign": "callsign_d"
          },
          "grantRequest": {
            "operationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3610000000,
                "highFrequency": 3620000000
              }
            }
          },
          "conditionalRegistrationData": {
            "cbsdCategory": "B",
            "fccId": "test_fcc_id_d",
            "cbsdSerialNumber": "test_serial_number_d",
            "airInterface": {
              "radioTechnology": "E_UTRA"
            },
            "installationParam": {
              "latitude": 38.8346253597831,
              "longitude": -97.2377707146142,
              "height": 8.9,
              "heightType": "AGL",
              "indoorDeployment": false,
              "antennaGain": -30,
              "antennaBeamwidth": 68,
              "antennaAzimuth": 90,
              "antennaDowntilt": -45
            },
            "measCapability": []
          },
          "clientCert": "certs/device_d.cert",
          "clientKey": "certs/device_d.key"
        }
      ],
      "protectedEntities": {
        "palRecords": [
          {
            "licensee": "CBSD Operator No.1",
            "registrationInformation": {
              "frn": "test_fcc_frn_pal_0",
              "callSign": "call_sign_pal_0",
              "licenseConditions": "license_pal_0",
              "registrationDate": "2022-06-18T15:00:16Z"
            },
            "license": {
              "licenseId": "test_fcc_id_pal_0",
              "licenseAreaIdentifier": "20041",
              "licenseAreaExtent": "zone/county/census/2017/20041",
              "licenseDate": "2022-06-18T15:00:16Z",
              "licenseExpiration": "2024-06-18T15:00:16Z",
              "licenseFrequencyChannelId": "1"
            },
            "licenseStatus": "VALID",
            "palId": "pal/06-2022/20041/1",
            "userId": "test_user_1",
            "channelAssignment": {
              "primaryAssignment": {
                "lowFrequency": 3550000000,
                "highFrequency": 3560000000
              }
            }
          }
        ],
        "ppaRecords": [
          {
            "name": "PPA Zone 0",
            "creator": "admin_0",
            "usage": "PPA",
            "terminated": false,
            "ppaInfo": {
              "cbsdReferenceId": [],
              "ppaRegionType": "URBAN",
              "palId": [
                "pal/06-2022/20041/1"
              ],
              "ppaBeginDate": "2022-06-18T15:00:16Z",
              "ppaExpirationDate": "2024-06-18T15:00:16Z"
            },
            "zone": {
              "type": "FeatureCollection",
              "features": [
                {
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -97.23861694335938,
                          38.865374851611634
                        ],
                        [
                          -97.31964111328125,
                          38.7615795117574
                        ],
                        [
                          -97.16995239257811,
                          38.739088441876866
                        ],
                        [
                          -97.16171264648436,
                          38.86751337001198
                        ],
                        [
                          -97.23861694335938,
                          38.865374851611634
                        ]
                      ]
                    ]
                  }
                }
              ]
            },
            "id": "zone/ppa/admin_0/pal/06-2022/20041/1/39b9c35b83f24c6d9f60dc394a4a2edc"
          }
        ]
      },
      "dpaActivationList": [],
      "dpaDeactivationList": [],
      "sasTestHarnessData": [
        {
          "cbsdRecords": [
            {
              "id": "cbsd/test_fcc_id_e/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
              "registration": {
                "fccId": "test_fcc_id_e",
                "cbsdCategory": "A",
                "callSign": "callsign_a",
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "measCapability": [],
                "installationParam": {
                  "latitude": 39.0119,
                  "longitude": -98.4842,
                  "height": 9.3,
                  "heightType": "AGL",
                  "indoorDeployment": true,
                  "antennaGain": 16,
                  "antennaBeamwidth": 30,
                  "antennaAzimuth": 90
                }
              },
              "grants": [
                {
                  "id": "SAMPLE_ID_35267",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3550000000,
                      "highFrequency": 3560000000
                    }
                  },
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3550000000,
                      "highFrequency": 3560000000
                    }
                  },
                  "channelType": "GAA",
                  "grantExpireTime": "2025-06-17T15:00:16Z",
                  "terminated": false
                }
              ]
            }
          ]
        },
        {
          "cbsdRecords": [
            {
              "id": "cbsd/test_fcc_id_f/b8a0c47f2aed5f2b0222c35cd9b91cff745d0c46",
              "registration": {
                "fccId": "test_fcc_id_f",
                "cbsdCategory": "B",
                "callSign": "callsign_b",
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "measCapability": [],
                "installationParam": {
                  "latitude": 39.139836,
                  "longitude": -97.770094,
                  "height": 7.6,
                  "heightType": "AGL",
                  "indoorDeployment": false,
                  "antennaGain": 16,
                  "antennaBeamwidth": 30,
                  "antennaAzimuth": 270,
                  "antennaDowntilt": -90
                }
              },
              "grants": [
                {
                  "id": "SAMPLE_ID_74241",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3570000000,
                      "highFrequency": 3580000000
                    }
                  },
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3570000000,
                      "highFrequency": 3580000000
                    }
                  },
                  "channelType": "GAA",
                  "grantExpireTime": "2025-06-17T15:00:16Z",
                  "terminated": false
                }
              ]
            },
            {
              "id": "cbsd/test_fcc_id_g/33c81df2998eb5d587cea7dede0d35d034e79bcd",
              "registration": {
                "fccId": "test_fcc_id_g",
                "cbsdCategory": "A",
                "callSign": "callsign_c",
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "measCapability": [],
                "installationParam": {
                  "latitude": 38.815291,
                  "longitude": -97.198805,
                  "height": 4.5,
                  "heightType": "AMSL",
                  "indoorDeployment": false,
                  "antennaGain": -127,
                  "antennaBeamwidth": 0,
                  "antennaAzimuth": 270
                }
              },
              "grants": [
                {
                  "id": "SAMPLE_ID_30964",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3590000000,
                      "highFrequency": 3600000000
                    }
                  },
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3590000000,
                      "highFrequency": 3600000000
                    }
                  },
                  "channelType": "GAA",
                  "grantExpireTime": "2025-06-17T15:00:16Z",
                  "terminated": false
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "sasTestHarnessName": "SAS-TH-1",
      "hostName": "localhost",
      "port": 9010,
      "serverCert": "certs/sas.cert",
      "serverKey": "certs/sas.key",
      "caCert": "certs/ca.cert"
    },
    {
      "sasTestHarnessName": "SAS-TH-2",
      "hostName": "localhost",
      "port": 9011,
      "serverCert": "certs/sas_1.cert",
      "serverKey": "certs/sas_1.key",
      "caCert": "certs/ca.cert"
    }
  ],
  "domainProxyConfigs": [
    {
      "cert": "certs/domain_proxy.cert",
      "key": "certs/domain_proxy.key"
    },
    {
      "cert": "certs/domain_proxy_1.cert",
      "key": "certs/domain_proxy_1.key"
    }
  ]
}