{
  "registrationRequests": [
    {
      "fccId": "test_fcc_id_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "latitude": 39.064401743084225,
        "longitude": -99.73021430630595,
        "height": 9.3,
        "heightType": "AGL",
        "indoorDeployment": true,
        "antennaGain": 16,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 90
      },
      "measCapability": []
    },
    {
      "fccId": "test_fcc_id_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "callSign": "callsign_b"
    }
  ],
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3655000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3660000000,
          "highFrequency": 3665000000
        }
      }
    }
  ],
  "conditionalRegistrationData": [
    {
      "cbsdCategory": "B",
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "latitude": 39.105464544329095,
        "longitude": -99.69063221490221,
        "height": 7.6,
        "heightType": "AGL",
        "indoorDeployment": false,
        "antennaGain": 16,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 270,
        "antennaDowntilt": -90
      },
      "measCapability": []
    }
  ],
  "gwpzRecord": {
    "record": {
      "id": "incumbent/uls/0",
      "type": "PART_90",
      "deploymentParam": [
        {
          "operationParam": {
            "operationFrequencyRange": {
              "lowFrequency": 3650000000,
              "highFrequency": 3700000000
            }
          }
        }
      ]
    },
    "zone": {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": "Polygon",
            "coordinates": [
              [
                [
                  -99.75,
                  39.05
                ],
                [
                  -99.65,
                  39.05
                ],
                [
                  -99.65,
                  39.15
                ],
                [
                  -99.75,
                  39.15
                ],
                [
                  -99.75,
                  39.05
                ]
              ]
            ]
          }
        }
      ]
    }
  }
}