{
  "registrationRequestC1": {
    "fccId": "test_fcc_id_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A",
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "latitude": 39.0119,
      "longitude": -98.4842,
      "height": 9.3,
      "heightType": "AGL",
      "indoorDeployment": true,
      "antennaGain": 16,
      "antennaBeamwidth": 30,
      "antennaAzimuth": 90
    },
    "measCapability": []
  },
  "grantRequestG1": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    }
  },
  "sasTestHarnessConfig": {
    "sasTestHarnessName": "SAS-TestHarness-1",
    "hostName": "localhost",
    "port": 9010,
    "serverCert": "certs/sas.cert",
    "serverKey": "certs/sas.key",
    "caCert": "certs/ca.cert"
  },
  "sasTestHarnessDumpRecords": {
    "cbsdRecords": [
      {
        "id": "cbsd/test_fcc_id_a/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
        "registration": {
          "fccId": "test_fcc_id_a",
          "cbsdCategory": "A",
          "callSign": "callsign_a",
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "measCapability": [],
          "installationParam": {
            "latitude": 39.0119,
            "longitude": -98.4842,
            "height": 9.3,
            "heightType": "AGL",
            "indoorDeployment": true,
            "antennaGain": 16,
            "antennaBeamwidth": 30,
            "antennaAzimuth": 90
          }
        },
        "grants": [
          {
            "id": "SAMPLE_ID_11906",
            "operationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3645000000,
                "highFrequency": 3655000000
              }
            },
            "requestedOperationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3645000000,
                "highFrequency": 3655000000
              }
            },
            "channelType": "GAA",
            "grantExpireTime": "2025-04-20T07:10:10Z",
            "terminated": false
          }
        ]
      }
    ]
  }
}